* text=auto

# Known text file extensions
*.as text
*.bat text
*.cnf text
*.conf text
*.css text
*.csv text
*.dtd text
*.erb text
*.ftl text
*.gitattributes text
*.gitignore text
*.gitkeep text
*.gitmodules text
*.groovy text
*.gsp text
*.htaccess text
*.htm text
*.html text
*.java text
*.js text
*.js.withjstl text
*.json text
*.jsp text
*.list text
*.lock text
*.log text
*.markdown text
*.md text
*.nsh text
*.nsi text
*.opts text
*.php text
*.pl text
*.policy text
*.pp text
*.project text
*.properties text
*.rb text
*.rdf text
*.scss text
*.sh text
*.sql text
*.story text
*.svg text
*.tag text
*.tld text
*.txt text
*.vm text
*.xml text
*.xsl text
*.xslt text
*.yaml text
*.yml text

# Known binary file extensions
*.bmp binary
*.chls binary
*.class binary
*.db binary
*.eot binary
*.exe binary
*.gif binary
*.gzip binary
*.ico binary
*.jar binary
*.jpeg binary
*.jpg binary
*.omod binary
*.png binary
*.ttf binary
*.woff binary
*.zip binary