<?xml version="1.0" encoding="UTF-8" ?>
<!--

    This Source Code Form is subject to the terms of the Mozilla Public License,
    v. 2.0. If a copy of the MPL was not distributed with this file, You can
    obtain one at http://mozilla.org/MPL/2.0/. OpenMRS is also distributed under
    the terms of the Healthcare Disclaimer located at http://openmrs.org/license.

    Copyright (C) OpenMRS Inc. OpenMRS is a registered trademark and the OpenMRS
    graphic logo is a trademark of OpenMRS Inc.

-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ######################################################
     #                                                    #
     # This log4j file is only used by the unit tests.    #
     # The /metadata/api/log4j/log4j.xml file is put into #
     # the api jar and war files.                         #
     #                                                    #
     ###################################################### -->
 
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%p - %C{1}.%M(%L) |%d{ISO8601}| %m%n" />
		</layout>
	</appender>

	<!-- Hide unnecessary errors logged by Hibernate during unit testing -->
	<logger name="org.hibernate.tool.hbm2ddl.SchemaExport">
		<level value="FATAL" />
	</logger>

	<!-- 
		This controls the LoggingAdvice class that wraps around the OpenMRS services 
		WARN == don't log anything special for the services
		INFO == log all setters
		DEBUG == log all setters & getters &  execution time
	-->
	<logger name="org.openmrs.api">
		<level value="WARN" />
	</logger>
	
	<logger name="org.openmrs.test">
		<level value="INFO" />
	</logger>
	
	<logger name="org.hibernate.SQL">
		<level value="WARN" />
	</logger>

    <root>
		<level value="ERROR" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>
