# Copied from https://github.com/github/gitignore

### IntelliJ Idea ###
*.iml
*.ipr
*.iws
.idea/

### Maven ###
target/
pom.xml.versionsBackup
#############

### Eclipse ###
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
###############

### Java ###
*.class

# Java Package Files #
*.jar
*.war
*.ear
############

### Netbeans ###
nbproject/private/
build/
bin/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
################

### Linux ###
.*
!.gitignore
!.gitattributes
!.tx
!.github/
*~
#############

### OpenMRS Files ###
/webapp/activemq-data
/webapp/src/main/webapp/WEB-INF/tags/module
/webapp/src/main/webapp/WEB-INF/dwr-modules.xml
/webapp/src/main/webapp/WEB-INF/module_messages*
/web/WEB-INF/dwr-modules.xml
#############

### log files ###
**/logs
*.log
#############

!.editorconfig

### Liquibase snapshot files ###
liquibase/snapshots/*.xml
#############
