language: java
jdk:
 - openjdk6
 - oraclejdk7
script: mvn clean install --batch-mode
matrix:
  allow_failures:
    - jdk: oraclejdk7
notifications:
  email: false
  irc:
    channels:
      - "irc.freenode.org#OpenMRS"
    template:
      - "[%{repository}] [%{commit}] [%{author}] %{message} - %{build_url}"
