<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
	
		<property name="connection.driver_class">@DATABASE-DRIVER_CLASS@</property>
		<property name="connection.url">@DATABASE-CONNECTION-URL@</property>
		<property name="connection.username">@DATABASE-USERNAME@</property>
		<property name="connection.password">@DATABASE-PASSWORD@</property>
		
		<property name="show_sql">@HIBERNATE-SHOW_SQL@</property>
		<property name="lazy">@HIBERNATE-LAZY@</property>
		<property name="dialect">@HIBERNATE-DIALECT@</property>
		
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.connection.release_mode">after_transaction</property>
		<property name="hibernate.c3p0.max_size">@CACHE.MAX_SIZE@</property>
		<property name="hibernate.c3p0.min_size">@CACHE.MIN_SIZE@</property> 
		<property name="hibernate.c3p0.timeout">@CACHE.TIMEOUT@</property>
		<property name="hibernate.c3p0.max_statements">@CACHE.MAX_STATEMENTS@</property>
		<property name="hibernate.c3p0.idle_test_period">@CACHE.IDLE_TEST_PERIOD@</property>
		<property name="hibernate.c3p0.acquire_increment">@CACHE.ACQUIRE_INCREMENT@</property>
		
		<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		
		<mapping resource="org/openmrs/api/db/hibernate/Concept.hbm.xml" />
		<!-- <mapping resource="org/openmrs/api/db/hibernate/ConceptAnswer.hbm.xml" /> -->
		<mapping resource="org/openmrs/api/db/hibernate/ConceptClass.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptDatatype.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptProposal.hbm.xml" />
		<!-- <mapping resource="org/openmrs/api/db/hibernate/ConceptNumeric.hbm.xml" /> -->
		<!-- <mapping resource="org/openmrs/api/db/hibernate/ConceptSynonym.hbm.xml" /> -->
		<!-- <mapping resource="org/openmrs/api/db/hibernate/ConceptName.hbm.xml" /> -->
		<mapping resource="org/openmrs/api/db/hibernate/ConceptSet.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptMap.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptWord.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptSource.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptSetDerived.hbm.xml" />
		
		<mapping resource="org/openmrs/api/db/hibernate/Drug.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/DrugIngredient.hbm.xml" />
		
		<mapping resource="org/openmrs/api/db/hibernate/Field.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/FieldAnswer.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/FieldType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Form.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/FormField.hbm.xml" />
		
		<mapping resource="org/openmrs/api/db/hibernate/MimeType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Obs.hbm.xml" />
		
		<mapping resource="org/openmrs/api/db/hibernate/Person.hbm.xml" />
		
		<mapping resource="org/openmrs/api/db/hibernate/User.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Privilege.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Role.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Group.hbm.xml" />
		
		<mapping resource="org/openmrs/api/db/hibernate/Patient.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/PatientAddress.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/PatientIdentifier.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/PatientIdentifierType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/PatientName.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Tribe.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Relationship.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/RelationshipType.hbm.xml" />

		<mapping resource="org/openmrs/api/db/hibernate/OrderType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Order.hbm.xml" />
		
		<mapping resource="org/openmrs/api/db/hibernate/Location.hbm.xml" />
		
		<mapping resource="org/openmrs/api/db/hibernate/EncounterType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Encounter.hbm.xml" />

        <mapping resource="org/openmrs/formentry/db/hibernate/FormEntryQueue.hbm.xml" />
		
		<mapping resource="org/openmrs/reporting/db/hibernate/Report.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Template.hbm.xml" />
	</session-factory>

</hibernate-configuration>