<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%p - %C{1}.%M(%L) |%d{ISO8601}| %m%n" />
		</layout>
	</appender>
	
	<appender name="MEMORY_APPENDER" class="org.openmrs.util.MemoryAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%p - %C{1}.%M(%L) |%d{ISO8601}| %m%n" />
		</layout>
	</appender>	

	<!-- TODO This limits to the tomcat home dir with ${catalina.home} -->
	<appender name="SYNCHRONIZATION_FILE"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/synchronization.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%p - %C{1}.%M|%d{ISO8601}|%m%n" />
		</layout>
	</appender>

	<logger name="org.apache">
		<level value="WARN" />
	</logger>
	
	<!-- Hide unnecessary errors logged by Hibernate during unit testing -->
	<logger name="org.hibernate.tool.hbm2ddl.SchemaExport">
		<level value="FATAL" />
	</logger>
	
	<logger name="org.hibernate">
		<level value="ERROR" />
	</logger>
	
	<logger name="net.sf.ehcache">
		<level value="ERROR" />
	</logger>

	<logger name="org.springframework">
		<level value="WARN" />
	</logger>
	
	<logger name="org.openmrs">
		<level value="WARN" />
	</logger>
	
	<!-- This controls the LoggingAdvice class that wraps around the openmrs services -->
	<logger name="org.openmrs.api">
		<level value="INFO" />
	</logger>

	<logger name="org.apache.fop">
		<level value="ERROR" />
	</logger>
	
	<!-- Sync-related logging setup -->
	<logger name="org.openmrs.api.SynchronizationIngestService">
		<level value="INFO" />
		<appender-ref ref="SYNCHRONIZATION_FILE" />
	</logger>
	<logger name="org.openmrs.api.SynchronizationService">
		<level value="INFO" />
		<appender-ref ref="SYNCHRONIZATION_FILE" />
	</logger>
	<logger name="org.openmrs.synchronization">
		<level value="INFO" />
		<appender-ref ref="SYNCHRONIZATION_FILE" />
	</logger>
	<logger name="org.openmrs.api.db.hibernate.HibernateSynchronizationDAO">
		<level value="INFO" />
		<appender-ref ref="SYNCHRONIZATION_FILE" />
	</logger>
	<logger name="org.openmrs.api.db.hibernate.HibernateSynchronizationInterceptor">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="SYNCHRONIZATION_FILE" />
	</logger>
	<logger name="org.openmrs.api.impl.SynchronizationIngestServiceImpl">
		<level value="DEBUG" />
		<appender-ref ref="SYNCHRONIZATION_FILE"/>
	</logger>
	<logger name="org.openmrs.synchronization.SyncUtil">
		<level value="DEBUG" />
		<appender-ref ref="SYNCHRONIZATION_FILE"/>
	</logger>
	
	<!-- Hide the useless MissingResourceException -->
	<logger name="org.springframework.context.support.ResourceBundleMessageSource">
		<level value="ERROR" />
	</logger>
	
	<root>
		<level value="WARN" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="MEMORY_APPENDER" />
	</root>

</log4j:configuration>