<!DOCTYPE html>
<html>
    <center>
        <h1>
            Welcome to Openmrs
        </h1>
        <body>
            Before going to enter into the Openmrs, please follow the following steps:</br>
            #Open a new terminal/Command Promp</br>
            #cd openmrs-core</br>
            #cd webapp</br>
            create maven environment</br>
            Then,</br>
            #mvn jetty:run</br>
            if you have done all the above, then <a href="http://0.0.0.0:8080/">Click here</a> to enter in the openmrs


        </body>

        </body>
    </center>
</html>