form, table, #searchPagingBar {
	font-size: .85em;
}
#verboseListing, #searchInfoBar {
	font-size: .7em;
}
h1 {
	text-align:center;
	margin: 5px;
	}
input.prompt {
	font-weight:bold;
	background-color:#C3DAF9;
	}
.even {
	background-color:transparent;
	}
.odd {
	background-color:#E0E0E0;
	}
a.conceptHit {
	color: black;
	}
a.conceptHit:link, a.conceptHit:visited, a.conceptHit:active {
	text-decoration: none;
	}
a.hit:hover {
	background-color:#FFFFA0;
	cursor: pointer;
	}
.no_hit {
	margin-top: 1em;
	font-weight: bold;
	font-style: italic;
	font-size: 1em;
	}
#content {
	margin-left: 0px;
	padding: 5px;
	border-style: none;
}
#banner, #gutter, #footer, #userBar {
	display: none;
}