#parse($headerTemplate)

<script>
	var lastIndex = 0;
		
	function showProgress() {
		
		// schedule the next update check first so we're sure it happens (in case an error occurs)
		setTimeout("showProgress()", 1000);
		
		jQuery.post("${setupPageUrl}", {page: "updateProgress.vm.ajaxRequest"} , function(data) {
			count = count + 1;
			
			
			if(data == null || !data.updatesRequired)
			{
				window.location="index.htm";
				return;
			}
			
			if(data.hasErrors)
			{
				window.location="${setupPageUrl}";
				return;
			}
			
			jQuery("#lastActionMessage").html(data.message);
			
			/* put checkmarks next to all executed changesets except the last one (the last one is currently executing) */
			for (var x = lastIndex; x < data.changesetIds.length; x++) {
				var changesetId = data.changesetIds[x];
				jQuery("#" + changesetId + "loading").hide();
				jQuery("#" + changesetId + "checkmark").show();
			}
			
			/* save the last point in the list for next time */
			lastIndex = data.changesetIds.length - 1;
			
			/* show the loading image next to the last changeset because that one is currently executing */
			jQuery("#" + data.executingChangesetId + "checkmark").hide();
			jQuery("#" + data.executingChangesetId + "loading").show();
			
			jQuery("#logLinesDiv").show();
			var logLines = "";
			for(var i = 0; i < data.logLines.length; i++)
			{
				logLines += data.logLines[i] + "<br />";
			}
			jQuery("#logLines").html(logLines);
			
		}, "json");
		
	}
	
	#if( $updateJobStarted == true )
		jQuery(function() { showProgress(); });
	#end
</script>

<style>
	.changesetImage, #logLinesDiv {
		display: none;
	}
</style>
	
<form method="post" autocomplete="off">
	<input type="hidden" name="page" value="reviewchanges.vm" /> 
			
	<div class="content">
		<table align="center" cellspacing="5" cellpadding="9">
			<tr>
				<td colspan="3" class="question">
					#if($isDatabaseUpdateInProgress)
						Another User is already running database updates!
					#else
						#if( $updateJobStarted != true )
							The following database updates are required:							
						#else
							The following database updates are being executed:
						#end
					#end
				</td>
			</tr>
			#if($isDatabaseUpdateInProgress != true)
			<tr>
				<td>
					<table>
						<tr>
							<th></th>
							<th>Description of Update</th>
							<th>Actions</th>
							<th>Author</th>
						</tr>						
						#foreach ($change in $changes)
							<tr>
								<td>
									<img id="${change.id}checkmark" class="changesetImage" src="images/checkmark.png"/>
									<img id="${change.id}loading" class="changesetImage" src="images/loading.gif"/>
								</td>
								<td>${change.comments}</td>
								<td>${change.description}</td>
								<td>${change.author}</td>
							</tr>
						#end						
					</table>
				</td>
			</tr>
			#end
			#if( $updateJobStarted != true && $isDatabaseUpdateInProgress != true )
				<tr>
					<td colspan="3"><input type="submit" value="Run Updates" class="button"/></td>
				</tr>
			#end
		</table>
		
     	<div id="lastActionMessage"></div>
       	
       	<br />
       	
       	<div id="logLinesDiv">
			Server log file output:
			<div id="logLines"></div>
		</div>
	</div>
	
	
</form>
#parse($footerTemplate)