*
!/back_button.jpg
!/checkmark.png
!/forward_button.png
!/loading.gif
!/openmrs_bar.gif
!/openmrs_barx.gif
!/openmrs_logo_text.gif
!/openmrs_logo_white.gif
!/openmrs-favicon.png
!/openmrs-favicon.ico