<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%p - %C{1}.%M(%L) |%d{ISO8601}| %m%n" />
		</layout>
	</appender>

	<!-- TODO This limits to the tomcat home dir with ${catalina.home} -->
	<appender name="CONCEPT_FILE"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/concepts.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%C{1}.%M|%d{ISO8601}|%m%n" />
		</layout>
	</appender>

	<!-- TODO This limits to the tomcat home dir with ${catalina.home} -->
	<appender name="PATIENT_FILE"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/patients.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%C{1}.%M|%d{ISO8601}|%m%n" />
		</layout>
	</appender>

	<!-- TODO This limits to the tomcat home dir with ${catalina.home} -->
	<appender name="DWR_FILE"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/dwr.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%C{1}.%M|%d{ISO8601}|%m%n" />
		</layout>
	</appender>

	<logger name="org.apache">
		<level value="WARN" />
	</logger>

	<logger name="org.hibernate">
		<level value="ERROR" />
	</logger>

	<logger name="org.springframework">
		<level value="WARN" />
	</logger>

	<logger name="org.openmrs">
		<level value="WARN" />
	</logger>

	<logger name="org.openmrs.api.ConceptService">
		<level value="INFO" />
		<appender-ref ref="CONCEPT_FILE" />
	</logger>
	
	<logger
		name="org.openmrs.api.db.hibernate.HibernateAdministrationDAO">
		<level value="INFO" />
		<appender-ref ref="CONCEPT_FILE" />
	</logger>
	
	<logger name="org.openmrs.api.PatientService">
		<level value="INFO" />
		<appender-ref ref="PATIENT_FILE" />
	</logger>

	<logger name="org.openmrs.web.controller.analysis">
		<level value="DEBUG" />
	</logger>

	<logger name="org.openmrs.web.dwr">
		<level value="INFO" />
		<appender-ref ref="DWR_FILE" />
	</logger>

	<root>
		<level value="WARN" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>
