/calendar/
/dictionary/
/dojo/
/flot/
/timepicker/
/dojoConfig.js
/dojoUserSearchIncludes.js
/easyAjax.js
/formSchemaDesign.js
/hl7_in_archive.js
/html-sanitizer-min.js
/obs.js
/openmrs.js
/openmrsmessages.js.withjstl
/validation.js
