<?xml version="1.0" encoding="UTF-8"?>

<!-- Application context definition for OpenMRS business services. -->
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/jee
			http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
			http://www.springframework.org/schema/tx
			http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
			http://www.springframework.org/schema/aop
           	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util-3.0.xsd">
	<!--  **************************  Transactional Intercepter  *************************  -->
	<!--  	
		Looks for advisors (TransactionAttributeSourceAdvisor) in the context, and automatically 
		creates proxy objects which are the transactional wrappers.  This object looks at every 
		class defined below to see whether it contains the Transactional annotation attribute. 
		NOTE:  I believe this needs to be defined at the top of the file (or before all Transactional
		components) because it needs to do processing on objects after they are initialized. 
	-->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>
	<!-- 
		AOP advisor: Contains TransactionAttributeSource which tells Spring what to do (advice) 
		and when to do it (pointcut).  Pointcuts, in our case, are defined by the use of the 
		Transactional annotation attribute.
	-->
	<bean class="org.springframework.transaction.interceptor.TransactionAttributeSourceAdvisor">
		<property name="transactionInterceptor" ref="transactionInterceptor"/>
	</bean>
	<!-- 
		AOP transaction advice: Intercepts method call and wraps it with a transaction.  The 
		transactionAttributeSource is what reads/remembers all Transactional attributes of a given 
		method or class (which is done during initialization)
	-->
	<bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager"/>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>

	<bean class="org.openmrs.api.impl.GlobalLocaleList" id="globalLocaleList"/>
	
	<!--  **************************  EVENT LISTENERS ***************************** -->

	<!--  Clear out the global property listeners list first -->
	<bean id="clearOpenmrsEventListeners" class="org.openmrs.api.EventListeners">
		<property name="globalPropertyListenersToEmpty"><value>false</value></property>
	</bean>
	
	<bean id="openmrsEventListeners" class="org.openmrs.api.EventListeners" depends-on="clearOpenmrsEventListeners">
		<property name="globalPropertyListeners">
			<list value-type="org.openmrs.api.GlobalPropertyListener">
				<bean class="org.openmrs.util.LocaleUtility" />
				<bean class="org.openmrs.util.LocationUtility" />
				<ref bean="globalLocaleList" />
				<ref bean="adminServiceTarget" />
			</list>
		</property>
	</bean>
	
	<!--  **************************  SERVICE CONTEXT CONFIGURATION  *************************  -->

	<!-- Single application context (our own context, not Spring's ApplicationContext -->
	<bean id="serviceContext" class="org.openmrs.api.context.ServiceContext" factory-method="getInstance" destroy-method="destroyInstance">
        <property name="patientService"><ref bean="patientService"/></property>
        <property name="personService"><ref bean="personService"/></property>
        <property name="conceptService"><ref bean="conceptService"/></property>
        <property name="userService"><ref bean="userService"/></property>
        <property name="obsService"><ref bean="obsService"/></property>
        <property name="encounterService"><ref bean="encounterService"/></property>
        <property name="locationService"><ref bean="locationService"/></property>
        <property name="orderService"><ref bean="orderService"/></property>
        <property name="formService"><ref bean="formService"/></property>
        <property name="administrationService"><ref bean="adminService"/></property>
        <property name="datatypeService"><ref bean="datatypeService"/></property>
        <property name="programWorkflowService"><ref bean="programWorkflowService"/></property>
        <property name="patientSetService"><ref bean="patientSetService"/></property>
        <property name="cohortService"><ref bean="cohortService"/></property>
        <property name="messageService"><ref bean="messageService"/></property>
        <property name="serializationService"><ref bean="serializationService"/></property>        
        <property name="schedulerService"><ref bean="schedulerService"/></property>
        <property name="alertService"><ref bean="alertService"/></property>
        <property name="reportService"><ref bean="reportService"/></property>
        <property name="reportObjectService"><ref bean="reportObjectService"/></property>
        <property name="dataSetService"><ref bean="dataSetService"/></property>
        <property name="hl7Service"><ref bean="hL7Service"/></property>
        <property name="ardenService"><ref bean="ardenService"/></property>
        <property name="messageSourceService"><ref bean="messageSourceService"/></property>
        <property name="activeListService"><ref bean="activeListService"/></property>
        <property name="visitService"><ref bean="visitService"/></property>
        <property name="providerService"><ref bean="providerService"/></property>
	</bean>	
	
	<bean id="context" class="org.openmrs.api.context.Context">
        <property name="serviceContext"><ref bean="serviceContext"/></property>
        <property name="contextDAO"><ref bean="contextDAO"/></property>
	</bean>
	
	<!--  **************************  DATA ACCESS OBJECTS  *************************  -->		

	<bean id="contextDAO" class="org.openmrs.api.db.hibernate.HibernateContextDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	
	<bean id="patientDAO" class="org.openmrs.api.db.hibernate.HibernatePatientDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	<bean id="personDAO" class="org.openmrs.api.db.hibernate.HibernatePersonDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	<bean id="conceptDAO" class="org.openmrs.api.db.hibernate.HibernateConceptDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	<bean id="userDAO" class="org.openmrs.api.db.hibernate.HibernateUserDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	<bean id="obsDAO" class="org.openmrs.api.db.hibernate.HibernateObsDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	<bean id="encounterDAO" class="org.openmrs.api.db.hibernate.HibernateEncounterDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	<bean id="locationDAO" class="org.openmrs.api.db.hibernate.HibernateLocationDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	<bean id="orderDAO" class="org.openmrs.api.db.hibernate.HibernateOrderDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	<bean id="formDAO" class="org.openmrs.api.db.hibernate.HibernateFormDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	<bean id="adminDAO" class="org.openmrs.api.db.hibernate.HibernateAdministrationDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	<bean id="noteDAO" class="org.openmrs.api.db.hibernate.HibernateNoteDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	<bean id="programWorkflowDAO" class="org.openmrs.api.db.hibernate.HibernateProgramWorkflowDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	<bean id="templateDAO" class="org.openmrs.api.db.hibernate.HibernateTemplateDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	<bean id="patientSetDAO" class="org.openmrs.api.db.hibernate.HibernatePatientSetDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	<bean id="cohortDAO" class="org.openmrs.api.db.hibernate.HibernateCohortDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	<bean id="serializedObjectDAO" class="org.openmrs.api.db.hibernate.HibernateSerializedObjectDAO" factory-method="getInstance">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
		<property name="supportedTypes">
			<list></list>
		</property>
	</bean>
	<bean id="datatypeDAO" class="org.openmrs.api.db.hibernate.HibernateDatatypeDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>
	</bean>
	<bean id="schedulerDAO" class="org.openmrs.scheduler.db.hibernate.HibernateSchedulerDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	<bean id="alertDAO" class="org.openmrs.notification.db.hibernate.HibernateAlertDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	<bean id="reportDAO" class="org.openmrs.report.db.hibernate.HibernateReportDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	<bean id="reportObjectDAO" class="org.openmrs.reporting.db.hibernate.HibernateReportObjectDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	<bean id="hL7DAO" class="org.openmrs.hl7.db.hibernate.HibernateHL7DAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	<bean id="activeListDAO" class="org.openmrs.api.db.hibernate.HibernateActiveListDAO">
		<property name="sessionFactory"><ref bean="sessionFactory"/></property>	
	</bean>
	<bean id="visitDAO" class="org.openmrs.api.db.hibernate.HibernateVisitDAO">
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>
	<bean id="providerDAO" class="org.openmrs.api.db.hibernate.HibernateProviderDAO">
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>
	

	<!--  **************************  SCHEDULER SERVICE  *************************  -->
	<!-- 
		Note that we have circular dependency between service and context object.
		There's nothing we could do about this.  
	-->
	<bean id="patientServiceTarget" class="org.openmrs.api.impl.PatientServiceImpl">
		<property name="patientDAO"><ref bean="patientDAO"/></property>	
		<property name="identifierValidators">
			<map>
				<entry>
					<key><value>org.openmrs.patient.impl.LuhnIdentifierValidator</value></key>
					<bean class="org.openmrs.patient.impl.LuhnIdentifierValidator"/>
				</entry>
				<entry>
					<key><value>org.openmrs.patient.impl.VerhoeffIdentifierValidator</value></key>
					<bean class="org.openmrs.patient.impl.VerhoeffIdentifierValidator"/>
				</entry>
			</map>
		</property>
	</bean>
	<bean id="personServiceTarget" class="org.openmrs.api.impl.PersonServiceImpl">
		<property name="personDAO"><ref bean="personDAO"/></property>	
	</bean>
	<bean id="conceptServiceTarget" class="org.openmrs.api.impl.ConceptServiceImpl">
		<property name="conceptDAO"><ref bean="conceptDAO"/></property>	
	</bean>
	<bean id="userServiceTarget" class="org.openmrs.api.impl.UserServiceImpl">
		<property name="userDAO"><ref bean="userDAO"/></property>	
	</bean>
	<bean id="obsServiceTarget" class="org.openmrs.api.impl.ObsServiceImpl">
		<property name="obsDAO"><ref bean="obsDAO"/></property>	
        <property name="handlers">
            <map>
                <entry>
                    <key><value>ImageHandler</value></key>
                    <bean class="org.openmrs.obs.handler.ImageHandler"/>
                </entry>
                <entry>
                    <key><value>TextHandler</value></key>
                    <bean class="org.openmrs.obs.handler.TextHandler"/>
                </entry>
                 <entry>
                    <key><value>BinaryDataHandler</value></key>
                    <bean class="org.openmrs.obs.handler.BinaryDataHandler"/>
                </entry>
                 <entry>
                    <key><value>BinaryStreamHandler</value></key>
                    <bean class="org.openmrs.obs.handler.BinaryStreamHandler"/>
                </entry>
            </map>
        </property>
	</bean>
	<bean id="encounterServiceTarget" class="org.openmrs.api.impl.EncounterServiceImpl">
		<property name="encounterDAO"><ref bean="encounterDAO"/></property>	
	</bean>
	<bean id="locationServiceTarget" class="org.openmrs.api.impl.LocationServiceImpl">
		<property name="locationDAO"><ref bean="locationDAO"/></property>	
	</bean>
	<bean id="orderServiceTarget" class="org.openmrs.api.impl.OrderServiceImpl">
		<property name="orderDAO"><ref bean="orderDAO"/></property>
	</bean>
	<bean id="formServiceTarget" class="org.openmrs.api.impl.FormServiceImpl">
		<property name="formDAO"><ref bean="formDAO"/></property>	
	</bean>
	<bean id="adminServiceTarget" class="org.openmrs.api.impl.AdministrationServiceImpl">
		<property name="administrationDAO"><ref bean="adminDAO"/></property>	
		<property name="eventListeners"><ref bean="openmrsEventListeners"/></property>
		<property name="globalLocaleList"><ref bean="globalLocaleList"/></property>
		<property name="implementationIdHttpClient"><ref bean="implementationIdHttpClient"/></property>
	</bean>
	<bean id="datatypeServiceTarget" class="org.openmrs.api.impl.DatatypeServiceImpl">
		<property name="dao"><ref bean="datatypeDAO"/></property>
	</bean>
	<bean id="programWorkflowServiceTarget" class="org.openmrs.api.impl.ProgramWorkflowServiceImpl">
		<property name="programWorkflowDAO"><ref bean="programWorkflowDAO"/></property>	
	</bean>
	<bean id="patientSetServiceTarget" class="org.openmrs.api.impl.PatientSetServiceImpl">
		<property name="patientSetDAO"><ref bean="patientSetDAO"/></property>	
	</bean>
	<bean id="activeListServiceTarget" class="org.openmrs.api.impl.ActiveListServiceImpl">
		<property name="activeListDAO"><ref bean="activeListDAO"/></property>	
	</bean>
	<bean id="visitServiceTarget" class="org.openmrs.api.impl.VisitServiceImpl">
        <property name="visitDAO"><ref bean="visitDAO"/></property>
	</bean>
	<bean id="providerServiceTarget" class="org.openmrs.api.impl.ProviderServiceImpl">
        <property name="providerDAO"><ref bean="providerDAO"/></property>
	</bean>	
	
	<!-- Cohort Service setup -->
	<bean id="cohortServiceTarget" class="org.openmrs.api.impl.CohortServiceImpl">
		<property name="cohortDAO"><ref bean="cohortDAO"/></property>
		<property name="cohortDefinitionProviders">
			<map>
				<entry>
					<key><value>org.openmrs.reporting.PatientSearch</value></key>
					<bean class="org.openmrs.cohort.impl.PatientSearchCohortDefinitionProvider"/>
				</entry>
				<entry>
					<key><value>org.openmrs.cohort.StaticCohortDefinition</value></key>
					<bean class="org.openmrs.cohort.impl.StaticCohortDefinitionProvider"/>
				</entry>
			</map>
		</property>
	</bean>
	<!-- /Cohort Service setup -->
	
	<bean id="schedulerServiceTarget" class="org.openmrs.scheduler.timer.TimerSchedulerServiceImpl">
		<property name="schedulerDAO"><ref bean="schedulerDAO"/></property>	
	</bean>
	<bean id="alertServiceTarget" class="org.openmrs.notification.impl.AlertServiceImpl">
		<property name="alertDAO"><ref bean="alertDAO"/></property>	
	</bean>
	<bean id="messageServiceTarget" class="org.openmrs.notification.impl.MessageServiceImpl">
		<property name="templateDAO"><ref bean="templateDAO"/></property>	
	</bean>
	<bean id="reportObjectServiceTarget" class="org.openmrs.reporting.impl.ReportObjectServiceImpl">
		<property name="reportObjectDAO"><ref bean="reportObjectDAO"/></property>	
	</bean>
	
	
	<!-- ReportService setup -->
	<bean id="reportServiceTarget" class="org.openmrs.report.impl.ReportServiceImpl">
		<property name="reportDAO"><ref bean="reportDAO"/></property>	
		<property name="renderers">
			<map>
				<entry>
					<key><value>org.openmrs.report.impl.TsvReportRenderer</value></key>
					<bean class="org.openmrs.report.impl.TsvReportRenderer"/>
				</entry>
				<entry>
					<key><value>org.openmrs.report.impl.CsvReportRenderer</value></key>
					<bean class="org.openmrs.report.impl.CsvReportRenderer"/>
				</entry>
			</map>
		</property>
	</bean>
	<!-- /ReportService setup -->

	<!-- SerializationService setup -->
	<bean id="serializationServiceTarget" class="org.openmrs.api.impl.SerializationServiceImpl">
		<property name="serializers">
			<list>
                <bean class="org.openmrs.serialization.SimpleXStreamSerializer"/>
			</list>
		</property>
	</bean>
	<!-- /SerializationService setup -->
	
	
	<!-- Data Set Service Setup -->
	<bean id="dataSetServiceTarget" class="org.openmrs.report.impl.DataSetServiceImpl">
		<property name="providers">
			<list>
				<bean class="org.openmrs.report.CohortDataSetProvider"/>
				<bean class="org.openmrs.report.RowPerObsDataSetProvider"/>
				<bean class="org.openmrs.report.RowPerProgramEnrollmentDataSetProvider"/>
			</list>
		</property>
	</bean>
	<!-- /Data Set Service setup -->
	
	
	<bean id="hL7ServiceTarget" class="org.openmrs.hl7.impl.HL7ServiceImpl" factory-method="getInstance">
		<property name="HL7DAO"><ref bean="hL7DAO"/></property>
		<property name="parser"><bean class="ca.uhn.hl7v2.parser.GenericParser" /></property>
		<property name="router"><bean class="ca.uhn.hl7v2.app.MessageTypeRouter" /></property>
		<property name="HL7Handlers">
			<map>
				<entry key="ORU_R01"><bean class="org.openmrs.hl7.handler.ORUR01Handler"/></entry>
				<entry key="ADT_A28"><bean class="org.openmrs.hl7.handler.ADTA28Handler"/></entry>
			</map>
		</property>
	</bean>
	
	<bean id="ardenServiceTarget" class="org.openmrs.arden.impl.ArdenServiceImpl">
	</bean>
	
	<bean id="messageSourceServiceTarget" class="org.openmrs.messagesource.impl.MessageSourceServiceImpl">
		<property name="activeMessageSource"><ref bean="mutableResourceBundleMessageSource"/>
		</property>
	</bean>
	
	<bean id="transactionAttributeSource" class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource"/>
		
	<bean id="mutableResourceBundleMessageSource" class="org.openmrs.messagesource.impl.MutableResourceBundleMessageSource">
		<property name="basenames">
			<!--  ABKTODO: Ugh. Presumes to be in a web application... -->
			<list>
				<value>/WEB-INF/custom_messages</value>
				<value>/WEB-INF/module_messages</value>
				<value>/WEB-INF/messages</value>
			</list>
		</property>
		<property name="useCodeAsDefaultMessage"><value>true</value></property>
		<property name="cacheSeconds" value="5" />
		<property name="defaultEncoding"><value>UTF-8</value></property>
	</bean>
	
	<bean id="patientService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="patientServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="personService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="personServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="conceptService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="conceptServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="userService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="userServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="obsService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="obsServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="encounterService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="encounterServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="locationService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="locationServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="orderService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="orderServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="formService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="formServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="adminService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="adminServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="datatypeService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager"><ref local="transactionManager"/></property>
        <property name="target"><ref local="datatypeServiceTarget"/></property>
        <property name="preInterceptors">
            <ref local="serviceInterceptors" />
        </property>
        <!-- This service is not transactional, at least not yet, so maybe we can remove this -->
        <property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
    </bean>
	<bean id="programWorkflowService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="programWorkflowServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="messageService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="messageServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="patientSetService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="patientSetServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="cohortService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="cohortServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="schedulerService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="schedulerServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="alertService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="alertServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="reportService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="reportServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="reportObjectService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="reportObjectServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="serializationService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="serializationServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource">
			<bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource"/>
		</property>
	</bean>
	<bean id="dataSetService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="dataSetServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="hL7Service" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="hL7ServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="ardenService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="ardenServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="messageSourceService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="messageSourceServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="activeListService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager"><ref local="transactionManager"/></property>
		<property name="target"><ref local="activeListServiceTarget"/></property>
		<property name="preInterceptors">
			<ref local="serviceInterceptors" />
		</property>
		<property name="transactionAttributeSource"><ref local="transactionAttributeSource" /></property>
	</bean>
	<bean id="visitService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
	    <property name="transactionManager"><ref local="transactionManager"/></property>
	    <property name="target"><ref local="visitServiceTarget"/></property>
	    <property name="preInterceptors">
	        <ref local="serviceInterceptors"/>
	    </property>
	    <property name="transactionAttributeSource"><ref local="transactionAttributeSource"/></property>
    </bean>
	<bean id="providerService" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
	    <property name="transactionManager"><ref local="transactionManager"/></property>
	    <property name="target"><ref local="providerServiceTarget"/></property>
	    <property name="preInterceptors">
	        <ref local="serviceInterceptors"/>
	    </property>
	    <property name="transactionAttributeSource"><ref local="transactionAttributeSource"/></property>
    </bean>
	
	
	<!--
		Scheduler service bean pool.
	--><!--
	<bean id="schedulerServicePool" class="org.springframework.aop.target.CommonsPoolTargetSource">
		<property name="targetBeanName"><value>schedulerServiceTarget</value></property>
		<property name="maxSize"><value>10</value></property>
	</bean>
	--><!-- 
		Scheduler service 
	--><!--
	<bean id="schedulerService" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="targetSource"><ref local="schedulerServicePool"/></property>
	</bean>
	-->

	<!--  **************************  SERVICE INTERCEPTORS  *************************  -->
	<!-- AOP before advice that authorizes users according to annotations -->
	<bean id="authorizationInterceptor" class="org.openmrs.aop.AuthorizationAdvice"/>
	<!-- AOP "around" advisor that prints logging messages for service methods -->
	<bean id="loggingInterceptor" class="org.openmrs.aop.LoggingAdvice"/>
	<!-- AOP before advice that calls the SetRequiredDataHandler methods -->
	<bean id="requiredDataInterceptor" class="org.openmrs.aop.RequiredDataAdvice"/>

	<util:list id="serviceInterceptors">
		<ref local="authorizationInterceptor"/>
		<ref local="requiredDataInterceptor"/>
		<ref local="loggingInterceptor"/>
	</util:list>
	
	
	<!--  **************************  SESSION FACTORY  *************************  -->
	
	<util:list id="moduleTestingMappingJarLocations">
		
	</util:list>
	
	<bean id="mappingJarResources" class="org.springframework.beans.factory.config.ListFactoryBean" parent="moduleTestingMappingJarLocations">
		<property name="sourceList">
			<list merge="true">
			
			</list>
		</property>
	</bean>
	
	<!-- will be autowired to the HibernateSessionFactoryBean by type -->
	<!-- interceptors are used in order of name, this needs to be one of the first and should be since auditable happens to start with 'a' -->
	<bean id="auditableInterceptor" class="org.openmrs.api.db.hibernate.AuditableInterceptor" />
	
	<bean id="sessionFactory" class="org.openmrs.api.db.hibernate.HibernateSessionFactoryBean">
		<property name="configLocations">
			<list>
				<value>classpath:hibernate.cfg.xml</value>
			</list>
		</property>
		<property name="mappingJarLocations">
			<ref bean="mappingJarResources" />
		</property>
		<!--  default properties must be set in the hibernate.default.properties -->
	</bean>

	<!--  **************************  TRANSACTION MANAGER CONFIGURATION  *************************  -->

	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory"><ref local="sessionFactory"/></property>
	</bean>


	<!--  ******************************  MESSAGE SERVICES  ****************************** -->
	
	<!-- Messaging Service -->
	<!--
    <bean id="messageService" class="org.openmrs.notification.impl.MessageServiceImpl">
        <property name="daoContext">
        	<ref bean="daoContext"/>
        </property>

        <property name="messagePreparator">
			<bean id="mailMessagePreparator" class="org.openmrs.notification.mail.velocity.VelocityMessagePreparator"/>
		</property>        

        <property name="messageSender">
			<bean id="mailMessageSender" class="org.openmrs.notification.mail.MailMessageSender">
				<property name="mailSession">
					<bean id="mailSession" class="org.springframework.jndi.JndiObjectFactoryBean">
					    <property name="jndiName"><value>java:comp/env/mail/OpenmrsMailSession</value></property>
					</bean>
				</property>
			</bean> 		
		</property>
    </bean>   
	-->		


	<!--  **************************  REPORT OBJECT FACTORY CONFIGURATION  *************************  -->
	<!-- Configuration for reporting module - sets up the report object factory and admin interface -->

	<bean id="patientCharacteristicFilterModule" class="org.openmrs.reporting.ReportObjectFactoryModule">
		<property name="name"><value>PatientCharacteristicFilter</value></property>
		<property name="displayName"><value>Patient Characteristic Filter</value></property>
		<property name="className"><value>org.openmrs.reporting.PatientCharacteristicFilter</value></property>
		<property name="type"><value>Patient Filter</value></property>
		<property name="validatorClass"><value>org.openmrs.reporting.PatientCharacteristicFilterValidator</value></property>
	</bean>
	
	<bean id="numericObsPatientFilterModule" class="org.openmrs.reporting.ReportObjectFactoryModule">
		<property name="name"><value>NumericObsPatientFilter</value></property>
		<property name="displayName"><value>Numeric Observation Patient Filter</value></property>
		<property name="className"><value>org.openmrs.reporting.NumericObsPatientFilter</value></property>
		<property name="type"><value>Patient Filter</value></property>
		<property name="validatorClass"><value>org.openmrs.reporting.NumericObsPatientFilterValidator</value></property>
	</bean>

	<bean id="shortDescriptionProducerModule" class="org.openmrs.reporting.ReportObjectFactoryModule">
		<property name="name"><value>ShortDescriptionProducer</value></property>
		<property name="displayName"><value>Short Description Producer</value></property>
		<property name="className"><value>org.openmrs.reporting.ShortDescriptionProducer</value></property>
		<property name="type"><value>Patient Data Producer</value></property>
		<property name="validatorClass"><value>org.openmrs.reporting.ShortDescriptionProducerValidator</value></property>
	</bean>

	<!--  **************************  VALIDATOR CONFIGURATION  *************************  -->
	<!--  Configuration for all openmrs validators                                        -->
	
	<bean id="personValidator" class="org.openmrs.validator.PersonValidator" />
	<bean id="patientValidator" class="org.openmrs.validator.PatientValidator" />
	<bean id="locationValidator" class="org.openmrs.validator.LocationValidator"/>
	<bean id="personNameValidator" class="org.openmrs.validator.PersonNameValidator" />
	<bean id="patientIdentifierValidator" class="org.openmrs.validator.PatientIdentifierValidator" />
	<bean id="patientIdentifierTypeValidator" class="org.openmrs.validator.PatientIdentifierTypeValidator" />
	<bean id="personAttributeTypeValidator" class="org.openmrs.validator.PersonAttributeTypeValidator" />
	<bean id="userValidator" class="org.openmrs.validator.UserValidator" />
	<bean id="roleValidator" class="org.openmrs.validator.RoleValidator" />
	<bean id="privilegeValidator" class="org.openmrs.validator.PrivilegeValidator" />
	<bean id="encounterTypeValidator" class="org.openmrs.validator.EncounterTypeValidator" />
	<bean id="conceptClassValidator" class="org.openmrs.validator.ConceptClassValidator" />
	<bean id="conceptDatatypeValidator" class="org.openmrs.validator.ConceptDatatypeValidator" />
	<bean id="formEditValidator" class="org.openmrs.validator.FormValidator" />
	<bean id="fieldTypeValidator" class="org.openmrs.validator.FieldTypeValidator" />
	<bean id="programValidator" class="org.openmrs.validator.ProgramValidator" />
	<bean id="stateConversionValidator" class="org.openmrs.validator.StateConversionValidator" />
	<bean id="taskValidator" class="org.openmrs.validator.SchedulerFormValidator" />
	<bean id="obsValidator" class="org.openmrs.validator.ObsValidator" />
	<bean id="orderTypeValidator" class="org.openmrs.validator.OrderTypeValidator" />
	<bean id="orderValidator" class="org.openmrs.validator.OrderValidator" />
	<bean id="drugOrderValidator" class="org.openmrs.validator.DrugOrderValidator" />
	<bean id="requireNameValidator" class="org.openmrs.validator.RequireNameValidator"/>
	<bean id="conceptDrugValidator" class="org.openmrs.validator.ConceptDrugValidator"/>
	<bean id="hl7SourceValidator" class="org.openmrs.validator.HL7SourceValidator"/>
	<bean id="personAddressValidator" class="org.openmrs.validator.PersonAddressValidator"/>
	<bean id="visitTypeValidator" class="org.openmrs.validator.VisitTypeValidator" />
	<bean id="visitAttributeTypeValidator" class="org.openmrs.validator.VisitAttributeTypeValidator" />
	<bean id="providerAttributeTypeValidator" class="org.openmrs.validator.ProviderAttributeTypeValidator" />	
	<bean id="encounterValidator" class="org.openmrs.validator.EncounterValidator" />
	<bean id="locationAttributeTypeValidator" class="org.openmrs.validator.LocationAttributeTypeValidator" />
	<bean id="providerValidator" class="org.openmrs.validator.ProviderValidator" />
	<bean id="patientProgramValidator" class="org.openmrs.validator.PatientProgramValidator" />
	<bean id="conceptValidator" class="org.openmrs.validator.ConceptValidator" />
	<bean id="personMergeLogValidator" class="org.openmrs.validator.PersonMergeLogValidator" />
	<bean id="conceptReferenceTermValidator" class="org.openmrs.validator.ConceptReferenceTermValidator" />
	<bean id="conceptMapTypeValidator" class="org.openmrs.validator.ConceptMapTypeValidator" />
    <bean id="implementationIdHttpClient" class="org.openmrs.util.HttpClient">
        <constructor-arg name="url" value="http://resources.openmrs.org/tools/implementationid"/>
    </bean>

	<!--  ************************ END VALIDATOR CONFIGURATION  ************************  -->
	
	<context:component-scan base-package="org.openmrs">
		<context:include-filter type="annotation" expression="org.openmrs.annotation.Handler"/>
		<context:exclude-filter type="custom" expression="org.openmrs.util.TestTypeFilter"/> <!-- Excludes classes with unit test super classes -->
	</context:component-scan>
    
</beans>
