<?xml version="1.0" encoding="UTF-8"?>
<!--

    This Source Code Form is subject to the terms of the Mozilla Public License,
    v. 2.0. If a copy of the MPL was not distributed with this file, You can
    obtain one at http://mozilla.org/MPL/2.0/. OpenMRS is also distributed under
    the terms of the Healthcare Disclaimer located at http://openmrs.org/license.

    Copyright (C) OpenMRS Inc. OpenMRS is a registered trademark and the OpenMRS
    graphic logo is a trademark of OpenMRS Inc.

-->

<!-- Application context definition for OpenMRS business services. -->
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
       		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<!--  **************************  DATA ACCESS OBJECTS  *************************  -->

	<bean id="contextDAO" class="org.openmrs.api.db.hibernate.HibernateContextDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="userDAO" ref="userDAO"/>
	</bean>

	<bean id="patientDAO" class="org.openmrs.api.db.hibernate.HibernatePatientDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="searchSessionFactory" ref="searchSessionFactory"/>
	</bean>
	<bean id="personDAO" class="org.openmrs.api.db.hibernate.HibernatePersonDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="searchSessionFactory" ref="searchSessionFactory"/>
	</bean>
	<bean id="conceptDAO" class="org.openmrs.api.db.hibernate.HibernateConceptDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="searchSessionFactory" ref="searchSessionFactory"/>
	</bean>
	<bean id="userDAO" class="org.openmrs.api.db.hibernate.HibernateUserDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="obsDAO" class="org.openmrs.api.db.hibernate.HibernateObsDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="encounterDAO" class="org.openmrs.api.db.hibernate.HibernateEncounterDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="locationDAO" class="org.openmrs.api.db.hibernate.HibernateLocationDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="orderDAO" class="org.openmrs.api.db.hibernate.HibernateOrderDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="orderSetDAO" class="org.openmrs.api.db.hibernate.HibernateOrderSetDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="formDAO" class="org.openmrs.api.db.hibernate.HibernateFormDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="adminDAO" class="org.openmrs.api.db.hibernate.HibernateAdministrationDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="programWorkflowDAO" class="org.openmrs.api.db.hibernate.HibernateProgramWorkflowDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="templateDAO" class="org.openmrs.api.db.hibernate.HibernateTemplateDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="cohortDAO" class="org.openmrs.api.db.hibernate.HibernateCohortDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="serializedObjectDAO" class="org.openmrs.api.db.hibernate.HibernateSerializedObjectDAO"
		  factory-method="getInstance">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="supportedTypes">
			<list/>
		</property>
	</bean>
	<bean id="datatypeDAO" class="org.openmrs.api.db.hibernate.HibernateDatatypeDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="schedulerDAO" class="org.openmrs.scheduler.db.hibernate.HibernateSchedulerDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="alertDAO" class="org.openmrs.notification.db.hibernate.HibernateAlertDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="hL7DAO" class="org.openmrs.hl7.db.hibernate.HibernateHL7DAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="visitDAO" class="org.openmrs.api.db.hibernate.HibernateVisitDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="providerDAO" class="org.openmrs.api.db.hibernate.HibernateProviderDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="conditionDAO" class="org.openmrs.api.db.hibernate.HibernateConditionDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="diagnosisDAO" class="org.openmrs.api.db.hibernate.HibernateDiagnosisDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="medicationDispenseDAO" class="org.openmrs.api.db.hibernate.HibernateMedicationDispenseDAO">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<!--  ******************************  MESSAGE SERVICES  ****************************** -->

	<!-- Messaging Service -->
	<!--
    <bean id="messageService" class="org.openmrs.notification.impl.MessageServiceImpl">
        <property name="daoContext">
        	<ref bean="daoContext"/>
        </property>

        <property name="messagePreparator">
			<bean id="mailMessagePreparator" class="org.openmrs.notification.mail.velocity.VelocityMessagePreparator"/>
		</property>        

        <property name="messageSender">
			<bean id="mailMessageSender" class="org.openmrs.notification.mail.MailMessageSender">
				<property name="mailSession">
					<bean id="mailSession" class="org.springframework.jndi.JndiObjectFactoryBean">
					    <property name="jndiName"><value>java:comp/env/mail/OpenmrsMailSession</value></property>
					</bean>
				</property>
			</bean> 		
		</property>
    </bean>   
	-->

	<!--  ************************ END VALIDATOR CONFIGURATION  ************************  -->

	<context:component-scan base-package="org.openmrs">
		<context:include-filter type="annotation" expression="org.openmrs.annotation.Handler"/>
		<context:include-filter type="custom" expression="org.openmrs.annotation.OpenmrsProfileIncludeFilter"/>
		<!-- Excludes classes with unit test super classes -->
		<context:exclude-filter type="custom"
								expression="org.openmrs.util.TestTypeFilter"/>
		<context:exclude-filter type="custom" expression="org.openmrs.annotation.OpenmrsProfileExcludeFilter"/>
	</context:component-scan>

</beans>
