<?xml version="1.0" encoding="utf-8"?>
<!--

    This Source Code Form is subject to the terms of the Mozilla Public License,
    v. 2.0. If a copy of the MPL was not distributed with this file, You can
    obtain one at http://mozilla.org/MPL/2.0/. OpenMRS is also distributed under
    the terms of the Healthcare Disclaimer located at http://openmrs.org/license.

    Copyright (C) OpenMRS Inc. OpenMRS is a registered trademark and the OpenMRS
    graphic logo is a trademark of OpenMRS Inc.

-->
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
        <property name="javax.persistence.validation.mode">none</property>

		<!--  Hibernate Mapping files -->

		<!-- API -->
		<mapping resource="org/openmrs/api/db/hibernate/ActiveListItem.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ActiveListType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ActiveListAllergy.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ActiveListProblem.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Concept.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptAnswer.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptDescription.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptName.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptNameTag.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptClass.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptDatatype.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptProposal.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptStateConversion.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptSet.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptMap.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptStopWord.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptSource.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptReferenceTerm.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptMapType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptReferenceTermMap.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Drug.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/DrugIngredient.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/DrugReferenceMap.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Field.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/FieldAnswer.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/FieldType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Form.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/FormField.hbm.xml" />
        <mapping resource="org/openmrs/api/db/hibernate/FormResource.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/GlobalProperty.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Obs.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Person.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/PersonAttribute.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/PersonAttributeType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/PersonAddress.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/PersonMergeLog.hbm.xml" />		
		<mapping resource="org/openmrs/api/db/hibernate/PersonName.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/User.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/LoginCredential.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Privilege.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Role.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Patient.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/PatientIdentifier.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/PatientIdentifierType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Relationship.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/RelationshipType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/OrderType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Order.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/CareSetting.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Location.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/LocationTag.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/LocationAttributeType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/LocationAttribute.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/EncounterType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Encounter.hbm.xml" />
        <mapping resource="org/openmrs/api/db/hibernate/EncounterProvider.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/EncounterRole.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Program.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ProgramWorkflow.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ProgramWorkflowState.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/PatientProgram.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/PatientState.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Cohort.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/SerializedObject.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/OrderFrequency.hbm.xml" />

		<!-- HL7 -->
		<mapping resource="org/openmrs/hl7/db/hibernate/HL7Source.hbm.xml" />
		<mapping resource="org/openmrs/hl7/db/hibernate/HL7InQueue.hbm.xml" />
		<mapping resource="org/openmrs/hl7/db/hibernate/HL7InArchive.hbm.xml" />
		<mapping resource="org/openmrs/hl7/db/hibernate/HL7InError.hbm.xml" />
		
		<!-- Notification -->
		<mapping resource="org/openmrs/notification/db/hibernate/Template.hbm.xml" />
		<mapping resource="org/openmrs/notification/db/hibernate/Alert.hbm.xml" />
		<mapping resource="org/openmrs/notification/db/hibernate/AlertRecipient.hbm.xml" />
		
		<!-- Scheduler -->
		<mapping resource="org/openmrs/scheduler/db/hibernate/TaskDefinition.hbm.xml" />
		
		<!-- Visit -->
		<mapping resource="org/openmrs/api/db/hibernate/VisitType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/VisitAttributeType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/VisitAttribute.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Visit.hbm.xml" />
		
		<!-- Provider -->
		<mapping resource="org/openmrs/api/db/hibernate/Provider.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ProviderAttribute.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ProviderAttributeType.hbm.xml" />
		
		<mapping resource="org/openmrs/api/db/hibernate/ClobDatatypeStorage.hbm.xml" />
		
  </session-factory>

</hibernate-configuration>
