<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<!--  Hibernate Mapping files -->
		
		<!-- API -->
		<mapping resource="org/openmrs/api/db/hibernate/ActiveListItem.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ActiveListType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ActiveListAllergy.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ActiveListProblem.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Concept.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptAnswer.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptDescription.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptName.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptNameTag.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptClass.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptDatatype.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptProposal.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptStateConversion.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptSet.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptMap.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptWord.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptStopWord.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptSource.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ConceptSetDerived.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Drug.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/DrugIngredient.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Field.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/FieldAnswer.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/FieldType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Form.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/FormResource.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/FormField.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/GlobalProperty.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Obs.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Person.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/PersonAttribute.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/PersonAttributeType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/PersonAddress.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/PersonName.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/User.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/LoginCredential.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Privilege.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Role.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Patient.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/PatientIdentifier.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/PatientIdentifierType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Relationship.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/RelationshipType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/OrderType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Order.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Location.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/LocationTag.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/EncounterType.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Encounter.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Program.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ProgramWorkflow.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/ProgramWorkflowState.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/PatientProgram.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/PatientState.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/Cohort.hbm.xml" />
		<mapping resource="org/openmrs/api/db/hibernate/SerializedObject.hbm.xml" />

		<!-- HL7 -->
		<mapping resource="org/openmrs/hl7/db/hibernate/HL7Source.hbm.xml" />
		<mapping resource="org/openmrs/hl7/db/hibernate/HL7InQueue.hbm.xml" />
		<mapping resource="org/openmrs/hl7/db/hibernate/HL7InArchive.hbm.xml" />
		<mapping resource="org/openmrs/hl7/db/hibernate/HL7InError.hbm.xml" />
		
		<!-- Reporting -->
		<mapping resource="org/openmrs/reporting/db/hibernate/Report.hbm.xml" />
		<mapping resource="org/openmrs/reporting/db/hibernate/ReportObject.hbm.xml" />
		<mapping resource="org/openmrs/reporting/db/hibernate/ReportSchemaXml.hbm.xml" />
		
		<!-- Notification -->
		<mapping resource="org/openmrs/notification/db/hibernate/Template.hbm.xml" />
		<mapping resource="org/openmrs/notification/db/hibernate/Alert.hbm.xml" />
		<mapping resource="org/openmrs/notification/db/hibernate/AlertRecipient.hbm.xml" />
		
		<!-- Scheduler -->
		<mapping resource="org/openmrs/scheduler/db/hibernate/TaskDefinition.hbm.xml" />

  </session-factory>

</hibernate-configuration>
