#parse($headerTemplate)

	#if( $canCreate != true )
		<br/>
		<span style="color: red">
			<b>Error!</b> <br/>
			A runtime properties file is needed for OpenMRS to start up consistently. <br/>
			OpenMRS is unable to create this file: ${runtimePropertiesPath}<br/>
			Because of this error: ${cannotCreateErrorMessage}
			<br/><br/>
			You must correct this before continuing.
		</span>
		<br/><br/>
		<a href="retry">Retry</a>
	#{else}
	
		#if( $canWrite != true )
			<span style="color: red">
				OpenMRS cannot edit the file: ${runtimePropertiesPath}
				<br/><br/>
				You must correct this before continuing.
			</span>
			<br/><br/>
			<a href="retry">Retry</a>
		#{else}
			<form method="post" autocomplete="off">
			<input type="hidden" name="page" value="databasesetup.vm" /> 
			
		<div class="content">
            <table align="center" cellspacing="5" cellpadding="9">
			  <tr>
                    <td colspan="2"><strong>Step 1 of 6</strong></td>
			  </tr>
			  <tr>
                    <td colspan="2" class="question">Please specify how to connect to your currently installed database server:</td>
                </tr>
			     		<tr>
                    <td colspan="2" >Database Connection: &nbsp;<input type="text" name="database_connection" size="45" value="${databaseConnection}" /> <span style="font-size:12px;">(Advanced use only. @DBNAME@ will automatically be replaced by this wizard with your chosen database name)</span></td>
			     		</tr>
			     		<tr>
                    <td colspan="2" class="question">Do you currently have an OpenMRS database installed that you would like to connect to?</td>
			     		</tr>
                <tr>
                    <td rowspan="2"  valign="top" class="yes">Yes
                        <input type="radio" name="current_openmrs_database" value="yes" #if( $hasCurrentOpenmrsDatabase == true )checked="checked"#end/></td>
                    <td class="yes">If yes, what is the name this database?</td>
			  </tr>
                <tr>
                    <td>Database Name: &nbsp;<input type="text" name="openmrs_current_database_name" value="${databaseName}" onfocus="clickRadio('current_openmrs_database', 'yes')"/></td>
                </tr>
                <tr>
                    <td rowspan="5"  valign="top" class="no">No
                        <input type="radio" name="current_openmrs_database" value="no" #if( $hasCurrentOpenmrsDatabase == false )checked="checked"#end/></td>
                    <td class="no">If no, what would you like to name this database? (alphanumeric characters only)</td>
                </tr>
                <tr>
                    <td>Database Name: &nbsp;<input type="text" name="openmrs_new_database_name" value="${databaseName}" onfocus="clickRadio('current_openmrs_database', 'no')"/></td>
                </tr>
                <tr>
                    <td class="no"> A user that has "CREATE DATABASE" privileges must be specified here so that this wizard can create the new database. <br />(Empty MySQL passwords are not allowed here. If you don't have a MySQL password set for the given user, please set one.)</td>
                </tr>
                <tr>
                    <td>Username &nbsp;
                    <input type="text" name="create_database_username" value="${createDatabaseUsername}" onfocus="clickRadio('current_openmrs_database', 'no')"/></td>
                </tr>
                <tr>
                    <td>Password &nbsp;
                    <input type="password" name="create_database_password" value="${createDatabasePassword}" onfocus="clickRadio('current_openmrs_database', 'no')"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input class="button" type="submit" value="Continue"/></td>
                </tr>
			</table>
		</div>
			</form>
		#end
	#end
#parse($footerTemplate)