<html>
<head>
	<script type="text/javascript" src="initfilter/scripts/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="initfilter/scripts/initialsetup.js"></script>
	<script type="text/javascript" src="initfilter/scripts/jquery-ui/js/jquery-ui.custom.min.js"></script>
    <link type="text/css" rel="stylesheet" href="initfilter/scripts/jquery-ui/css/orange/jquery-ui.custom.css" />
    
	<style type="text/css" media="all">
		* {
			font-family: Verdana, 'Lucida Grande', 'Trebuchet MS', Arial, Sans-Serif;
		}
		
		.openmrs_msg {
			background-color: lightyellow;
		}

		.openmrs_error {
			background-color: lightpink;
		}

		.openmrs_msg, .openmrs_error { 
			margin-top: 3px;
			margin-bottom: 5px;
			border: 1px dashed lightgrey;
			padding: 2px 2px 2px 18px;
		}
			
        .question {
            text-align:left;
            background-color: #E9E4CC;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
				}
        .yes {
            background-color: #7fbaf5;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
			}
        .no {
            background-color: #CCCCCC;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
		}
        .logo {
            background-image:url(images/openmrs_logo_white.gif);
            background-repeat:no-repeat;
            height:98px;
            left: 3px;
        }
        .bar {
            background-image:url(images/openmrs_barx.gif);
            background-repeat:repeat-x;
            height:45px;
            width:100%;
            margin-left: 15px;
        }
        .bar-round {
            background-image:url(images/openmrs_bar.gif);
            background-repeat:no-repeat;
            height:45px;
            width:100%;
            font-size:24px;
        }
        .content {
            margin-top: 10px;
        }
        .button{
            height:30px;
            font-size:18px;
            -moz-border-radius: 15px;
            -webkit-border-radius: 15px;
            background-color: #E9E4CC;
        }
        .label{
            text-align:left;
            white-space:nowrap;
        }
    </style>
</head>
<body style="background:#ecf3f7">
    <img style="margin-left:75px; padding-top:10px;" src="images/openmrs_logo_text.gif" />
    <table style="text-align:center; line-height:40px; margin-top:-25px;" width="100%">
        <tr>
        	<td width="100px"><div class="logo"></div></td>
        	<td>
            	<div class="bar-round">
        			<div class="bar">$l10n.get("install.header.caption").insert(${OPENMRS_VERSION})</div>
        		</div>
            </td>
        </tr>
    </table>
	
	#if( ! $errors.isEmpty() )
	<div id="errorMsgs" class="openmrs_error">
		#foreach ($error in $errors.entrySet())
			#if (!$error.getValue()) 
				<p>$l10n.get($error.getKey())</p>
			#else
				<p>$l10n.get($error.getKey()).insert($error.getValue())</p>
			#end
		#end
	</div>
	<br/>
	#end
	
	#if( ! $msgs.isEmpty() )
	<div id="infoMsgs" class="openmrs_msg">
		#foreach ($msg in $msgs.entrySet())
			#if (!$msg.getValue()) 
				<p>$l10n.get($msg.getKey())</p>
			#else
				<p>$l10n.get($msg.getKey()).insert($msg.getValue())</p>
			#end
		#end
	</div>
	<br/>
	#end		
	
	#if( ! $workLog.isEmpty() )
	$l10n.get("install.header.tasks")
	<div>
		<ul>
		#foreach ($task in $workLog)
			<li>${task}</li>
		#end
		</ul>
	</div>
	<br/>
	#end
