#parse($headerTemplate)

	#if( $canCreate != true )
		<br/>
		<span style="color: red">
			<b>$l10n.get("install.error.unableCreateRtPropFile")</b> <br/>
			$l10n.get("install.error.unableCreateRtPropFileNeeded")<br/>
			$l10n.get("install.error.unableCreateRtPropFileName").insert(${runtimePropertiesPath})<br/>
			$l10n.get("install.error.unableCreateRtPropFileCause").insert(${cannotCreateErrorMessage})
			<br/><br/>
			$l10n.get("install.error.correct")
		</span>
		<br/><br/>
		<a href="retry">$l10n.get("install.error.retry")</a>
	#{else}

		#if( $canWrite != true )
			<span style="color: red">
				$l10n.get("install.error.unableEditRtPropFile").insert(${runtimePropertiesPath})
				<br/><br/>
				$l10n.get("install.error.correct")
			</span>
			<br/><br/>
			<a href="retry">$l10n.get("install.error.retry")</a>
		#{else}
            <form method="post" autocomplete="off">
                <input type="hidden" name="page" value="installmethod.vm" />

                <div class="content">
                    <table align="center" cellspacing="5" cellpadding="9">
                        <tr>
                            <td colspan="2"><strong>$l10n.get("install.method")</strong></td>
                        </tr>
                        <tr>
                            <td valign="top" class="yes" style="white-space: nowrap"> <input type="radio" name="install_method" value="${INSTALL_METHOD_SIMPLE}" #if( $installMethod == $INSTALL_METHOD_SIMPLE )checked="checked"#end/>$l10n.get("install.simple")</td>
                            <td class="question">$l10n.get("install.simple.content")</td>
                        </tr>
                        <tr>
                            <td valign="top" class="yes" style="white-space: nowrap"> <input type="radio" name="install_method" value="${INSTALL_METHOD_ADVANCED}" #if( $installMethod == $INSTALL_METHOD_ADVANCED )checked="checked"#end/>$l10n.get("install.advanced")</td>
                            <td class="question">$l10n.get("install.advanced.content")</td>
                        </tr>
                        <tr>
                            <td valign="top" class="yes" style="white-space: nowrap"> <input type="radio" name="install_method" value="${INSTALL_METHOD_TESTING}" #if( $installMethod == $INSTALL_METHOD_TESTING )checked="checked"#end/>$l10n.get("install.testing")</td>
                            <td class="question">
                            	$l10n.get("install.testing.desc")
                            	<br><b>$l10n.get("install.testing.note"):</b>
                            	<ul>
									<li>$l10n.get("install.testing.list.supportedServer")</li>
                            		<li>$l10n.get("install.testing.list.ensureConnection")</li>
                            	</ul>
                            </td>
                        </tr>
                        <tr>
					        <td colspan="2" align="center">
							<input type="image" src="images/back_button.png" value="Back" name="back" style="margin-right: 20px"/>
							<input type="image" src="images/forward_button.png" name="continue" style="margin-left: 20px"/>
						</td>
                        </tr>                          
                    </table>
                </div>
            </form>
		#end
	#end
#parse($footerTemplate)
