#parse($HEADER_TEMPLATE)

<form method="post" autocomplete="off">
			
	<div class="content" style="text-align:center">
		<table align="center" cellspacing="5" cellpadding="9">
			<tr>
                <td colspan="2" align="center"><strong>$l10n.get("install.step").insert(${currentStepNumber}).insert(${numberOfSteps})</strong></td>
			</tr>
			<tr>
				<th valign="top" align="right">$l10n.get("install.testing.remoteUrl"):</th>
				<td>
					<input type="text" name="remoteUrl" size="60" value="${remoteUrl}" onKeyPress="return submitenter(this,event);" /><br/>
					<i><small>$l10n.get("install.testing.remoteUrl.example")</small></i>
				</td>
			</tr>
			<tr>
                <th align="right">$l10n.get("install.testing.username.remote"):</th>
                <td><input type="text" name="username" value="${remoteUsername}" onKeyPress="return submitenter(this,event);" /></td>
            </tr>
            <tr>
                <th align="right">$l10n.get("install.testing.password.remote"):</th>
                <td><input type="password" name="password" onKeyPress="return submitenter(this,event);" />
                     <br/>
                     <i><small>$l10n.get("install.testing.passwordadvice.remote")</small></i>
                </td></tr>
			<tr><td colspan="2" height="40px"></td></tr>
            <tr>
                <td colspan="2" align="center">
                	<input type="image" src="images/back_button.png" value="Back" name="back" style="margin-right: 20px"/>
                	<input type="image" src="images/forward_button.png" name="continue"/>
                </td>
            </tr>
		</table>
	</div>
	
	<input type="hidden" name="page" value="remotedetails.vm" /> 
	
</form>

<script type="text/javascript">
	document.forms[0].elements[0].focus();
</script>

#parse($FOOTER_TEMPLATE)