#parse($headerTemplate)
<script>
	var addModules = false;
		
	function processUpload(){
		jQuery('#spinner').css("visibility", "visible");
		addModules = true;
					
		return true;
	}
	
	function setAddModules(value){
		if(value == 'true'){
			document.getElementById('addModulesCheckbox').checked = true;
			jQuery('#uploadedFileName').text(jQuery('#zipFile').val());
			jQuery('#removeModulesLink').show();
		}else{
			addModules = false;
			document.getElementById('addModulesCheckbox').checked = false;
			jQuery('#uploadedFileName').text('');
			jQuery('#removeModulesLink').hide();
		}
	}
	
	function showUploadForm(){
		jQuery("#uploadForm").dialog('open');
	}
	
	//initialize the modal dialogs but don't display them
	jQuery(document).ready( function() {
		jQuery("#uploadForm").dialog({ 
			autoOpen: false,
			modal: true,
			width:650,
			height:350,
			buttons:{
				"Done": function() {
        					jQuery(this).dialog("close");
        				}		
    		},
			close: function() {
				if(addModules == true){
					setAddModules('true');
				}else if(jQuery('#zipFile').val() != ''){
					jQuery(this).dialog('open');
					//The user selected a file and didn't click the upload button,
					//confirm with them if it wasn't by mistake
					jQuery("#dialog-confirm").dialog('open');
				}		
        	}
		});
		
		
		jQuery("#dialog-confirm").dialog({
			autoOpen: false,
			resizable: false,
			width:400,
			height:200,
			modal: true,
			buttons: {
					"Yes": function() {
								//clear the value so that the confirmation dialog isn't re-displayed
								jQuery('#zipFile').val('');
								jQuery(this).dialog('close');
								jQuery("#uploadForm").dialog('close');
							},
					"No": function() {
								jQuery(this).dialog('close');
						}
					}
		});
		
		jQuery('.ui-dialog-buttonpane').attr('align', 'center');
	});	
</script>
<style>
	.small-label{
		font-size: small;
	}
</style>
	<form method="post" autocomplete="off">
		<input type="hidden" name="page" value="testingsetup.vm" />
		<div class="content">
            <table align="center" cellspacing="5" cellpadding="9">
           	 	<tr>
        			<td colspan="2" class="question">Please specify how to connect to your currently installed database server:</td>
              	</tr>
			    <tr>
                    <td>Current Connection Host Name/IP Address</td>
                    <td><input type="text" name="currentDatabaseIpAddress" value="${currentDatabaseHost}"/></td>
                </tr>
                <tr>
                    <td>Current Connection Port</td>
                    <td><input type="text" name="currentDatabasePort" value="${currentDatabasePort}"/></td>
                </tr>
                <tr">
                    <td>Current Database Name</td>
                    <td><input type="text" name="currentDatabaseName" value="${currentDatabaseName}"/></td>
                </tr>
                <tr>
                    <td>Current Database Username</td>
                    <td><input type="text" name="currentDatabaseUsername" value="${currentDatabaseUsername}" /></td>
                </tr>
                <tr>
                    <td>Current Database Password</td>
                    <td><input type="password" name="currentDatabasePassword" value="${currentDatabasePassword}" /></td>
                </tr>
                <tr>
        			<td colspan="2" class="question">
        				If you wish to add modules, click the button below to upload a zipped file containing all modules from your current installation.
        			</td>
              	</tr>
                <tr>
        			<td style="padding-bottom:30px">
        				<input class="button" type="button" value="Add Modules" onclick="showUploadForm()" />
        			</td>
        			<td style="padding-bottom:30px">
        				&nbsp;<span id="uploadedFileName"></span> &nbsp;<span id="removeModulesLink" style="cursor: pointer; display:none; color:#0000FF" onclick="setAddModules('')">Remove modules</span>
        				<input id="addModulesCheckbox" type="checkbox" name="addModules" value="true"  #if( $addModules == true )checked="checked"#end style="display:none">
        			</td>
              	</tr>
                <tr>
                    <td colspan="2" class="question">
                    	Please specify how to connect to your Test database server:
                    </td>
                </tr>
                <tr>
                    <td>Test Connection Host Name/IP Address</td>
                    <td><input type="text" name="test_database_host" value="${testDatabaseHost}"/></td>
                </tr>
                <tr>
                    <td>Test Connection Port</td>
                    <td><input type="text" name="test_database_port" value="${testDatabasePort}"/></td>
                </tr>
                <tr>
                    <td>Test Database Username</td>
                    <td><input type="text" name="test_database_username" value="${testDatabaseUsername}" /><span class="small-label"> &nbsp;(A user that has FULL privileges e.g root)</span></td>
                </tr>
                <tr>
                    <td>Test Database Password</td>
                    <td><input type="password" name="test_database_password" value="${testDatabasePassword}" /></td>
                </tr>
              	<tr>
                    <td colspan="2">
                        <input type="submit" style="display: none"/> <!-- the first submit button that will be used when the user pushed the "enter" key in the form -->
                        <input class="button" name="back" type="submit" value="Back"/> &nbsp; &nbsp;
                        <input class="button" type="submit" value="Continue"/>
                    </td>
                </tr>
			</table>
		</div>
	</form>
	
	<div id="uploadForm" title="File Upload Form">
		<form method="post" enctype="multipart/form-data" target="uploadResponseFrame" onsubmit="processUpload()">
		<div class="content">
            <table align="center" cellspacing="3" cellpadding="5" width="100%">
            	<tr>
					<td colspan="2"><iframe name="uploadResponseFrame" frameborder="0" width="100%" height="50px" scrolling="no">
					This browser or browser version doesn't support iframes, therefore some content might not get displayed.</iframe></td>
				</tr>
				<tr id="spinner" style="visibility: hidden">
					<td colspan="2" style="text-align: center"><span><img src="images/loading.gif"/></span></td>
				</tr>
				<tr>
					<td colspan="2">
						<span class="small-label">
						<input id="zipFile" type="file" name="zipFile" /> &nbsp;&nbsp;<input type="submit" value="Upload" class="button"/>
						<br /> (You have to click 'Upload' button before closing this dialog for the file to be uploaded)</span>
					</td>
				</tr>
			</table>
		</div>
		</form>
	</div>
	<div id="dialog-confirm" title="Confirm">
		You didn't click the 'Upload' button, are you sure you want to ignore addition of modules?
	</div>
#parse($footerTemplate)