#parse($headerTemplate)
	<form method="post">
		<input type="hidden" name="page" value="wizardcomplete.vm" /> 
		<div class="content">
		<!-- TODO list off all collected properties here -->
		 	<table cellpadding="9" align="center" cellspacing="5" >
            	<tr>
                    <td colspan="2"><strong>$l10n.get("install.complete.review")</strong></td>
                </tr>
                #if($installMethod != $INSTALL_METHOD_TESTING)
                <tr>
                    <td colspan="2">$l10n.get("install.complete.info")
                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="question">$l10n.get("install.complete.db")</td>
                </tr>
                <tr>
                    <td>$l10n.get("install.complete.db.connection")</td>
                    <td>${databaseConnection}</td>
                </tr>
                <tr>
                    <td>$l10n.get("install.db.name")</td>
                    <td>${databaseName}</td>
                </tr>
                <tr>
                    <td>$l10n.get("install.complete.db.create")</td>
                    <td>#if( $hasCurrentOpenmrsDatabase == false ) $l10n.get("general.yes") #else $l10n.get("general.no") #end</td>
                </tr>
                <tr>
                    <td>$l10n.get("install.complete.db.userAccount")</td>
                    <td>#if( $createDatabaseUser == true ) $l10n.get("general.yes") #else $l10n.get("general.no") #end</td>
                </tr>
                <tr>
                    <td>$l10n.get("install.complete.db.tables")</td>
                    <td>#if( $createTables == true ) $l10n.get("general.yes") #else $l10n.get("general.no") #end</td>
                </tr>
                <tr>
                    <td>$l10n.get("install.complete.db.demo")</td>
                    <td>#if( $addDemoData == true ) $l10n.get("general.yes") #else $l10n.get("general.no") #end</td>
                </tr>

                <tr>
                    <td colspan="2" class="question">$l10n.get("install.complete.impl")</td>
                </tr>
                <tr>
                    <td>$l10n.get("install.complete.impl.name")</td>
                    <td>${implementationIdName}</td>
                </tr>
                <tr>
                    <td>$l10n.get("install.complete.impl.id")</td>
                    <td>${implementationId}</td>
                </tr>
                <tr>
                    <td>$l10n.get("install.complete.impl.pass")</td>
                    <td>${implementationIdPassPhrase}</td>
                </tr>
                <tr>
                    <td>$l10n.get("install.complete.impl.desc")</td>
                    <td>${implementationIdDescription}</td>
                </tr>

                <tr>
                    <td colspan="2" class="question">$l10n.get("install.complete.rp")</td>
                </tr>
                <tr>
                    <td>$l10n.get("install.complete.rp.mod")</td>
                    <td>#if( $moduleWebAdmin == true ) $l10n.get("general.yes") #else $l10n.get("general.no") #end</td>
                </tr>
                <tr>
                    <td>$l10n.get("install.complete.rp.up")</td>
                    <td>#if( $autoUpdateDatabase == true ) $l10n.get("general.yes") #else $l10n.get("general.no") #end</td>
                </tr>                
				#else
                <tr>
                    <td colspan="2">$l10n.get("install.complete.db")
                    </td>
                </tr>
                <tr>
        			<td colspan="2" class="question">$l10n.get("install.complete.test.settings"):</td>
              	</tr>
			    <tr>
                    <td>$l10n.get("install.test.curr.conn.host")</td>
                    <td>${currentDatabaseHost}</td>
                </tr>
                <tr>
                    <td>$l10n.get("install.test.curr.conn.port")</td>
                    <td>${currentDatabasePort}</td>
                </tr>
                <tr">
                    <td>$l10n.get("install.test.curr.conn.dbname")</td>
                    <td>${currentDatabaseName}</td>
                </tr>
                <tr>
                    <td>$l10n.get("install.test.curr.conn.dbuser")</td>
                    <td>${currentDatabaseUsername}</td>
                </tr>
                <tr>
                    <td colspan="2" class="question">
                    	Test database server settings:
                    </td>
                </tr>
                <tr>
                    <td>$l10n.get("install.test.conn.host")</td>
                    <td>${testDatabaseHost}</td>
                </tr>
                <tr>
                    <td>$l10n.get("install.test.conn.port")</td>
                    <td>${testDatabasePort}</td>
                </tr>
                <tr>
                    <td>$l10n.get("install.test.conn.dbuser")</td>
                    <td>${testDatabaseUsername}</td>
                </tr>
                <tr>
                    <td colspan="2" class="question">$l10n.get("install.complete.test.details"):</td>
                </tr>
                <tr>
                    <td>$l10n.get("install.complete.test.dbname")</td>
                    <td>${TEST_DATABASE_NAME}</td>
                </tr>
                <tr>
                	<td>$l10n.get("install.complete.test.addModules") </td><td>#if($addModules == true) $l10n.get("general.yes") #else $l10n.get("general.no")#end</td>
              	</tr>
                #end
                <tr>
                    <td>$l10n.get("install.complete.rp.path")</td>
                    <td>${runtimePropertiesPath}</td>
                </tr>
                <tr>
                	<td colspan="2" align="center">
						<input type="image" src="images/back_button.png" value="Back" name="back" style="margin-right: 20px"/>
						<input type="image" src="images/forward_button.png" name="continue" style="margin-left: 20px"/>
					</td>
                </tr>
            </table>
        </div>
	</form>
	
    <div id="progressbar"></div>
#parse($footerTemplate)