.barsmall {
	background-image:url(images/openmrs_green_bar_repeat.gif);
	background-repeat:repeat-x;
}

.box, .boxHeader, .boxRed, .boxHeaderRed, .boxExited, .boxHeaderExited {
	border: 1px solid #1aac9b;
}

.boxHeader {
	background-color: #1aac9b;
}

#patientTabs {
	border-bottom: 1px solid #1aac9b;
}

#patientTabs a:link, #patientTabs a:visited {
	border: 1px solid #1aac9b;
}