<?xml version="1.0" encoding="UTF-8" ?>
<!--

    This Source Code Form is subject to the terms of the Mozilla Public License,
    v. 2.0. If a copy of the MPL was not distributed with this file, You can
    obtain one at http://mozilla.org/MPL/2.0/. OpenMRS is also distributed under
    the terms of the Healthcare Disclaimer located at http://openmrs.org/license.

    Copyright (C) OpenMRS Inc. OpenMRS is a registered trademark and the OpenMRS
    graphic logo is a trademark of OpenMRS Inc.

-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%p - %C{1}.%M(%L) |%d{ISO8601}| %m%n" />
		</layout>
	</appender>
	
	<appender name="MEMORY_APPENDER" class="org.openmrs.util.MemoryAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%p - %C{1}.%M(%L) |%d{ISO8601}| %m%n" />
		</layout>
	</appender>	
	
	<appender name="DEBUGGING_FILE_APPENDER" class="org.apache.log4j.RollingFileAppender">
      <param name="append" value="false"/>
      <param name="file" value="openmrs.log"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
      </layout>
   </appender>

	<logger name="org.apache">
		<level value="WARN" />
	</logger>
	
	<logger name="org.hibernate">
		<level value="ERROR" />
	</logger>
	
	<logger name="net.sf.ehcache">
		<level value="ERROR" />
	</logger>

	<logger name="org.springframework">
		<level value="WARN" />
	</logger>
	
	<logger name="org.openmrs">
		<level value="WARN" />
	</logger>
	
	<!-- 
		This controls the LoggingAdvice class that wraps around the OpenMRS services 
		WARN == don't log anything special for the services
		INFO == log all setters
		DEBUG == log all setters & log all getters & log execution time
	-->
	<logger name="org.openmrs.api">
		<level value="INFO" />
	</logger>

	<logger name="org.apache.fop">
		<level value="ERROR" />
	</logger>
	
	<!-- Hide the useless MissingResourceException -->
	<logger name="org.springframework.context.support.ResourceBundleMessageSource">
		<level value="ERROR" />
	</logger>
	
	<logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory">
		<level value="ERROR" />
	</logger>
	
	<root>
		<level value="WARN" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="MEMORY_APPENDER" />
		<!--
		<appender-ref ref="DEBUGGING_FILE_APPENDER" />
		-->
	</root>

</log4j:configuration>
