# standard build with Maven and push coverage data
name: Build with Maven

# trigger build master branch *should* support Java 21 and above
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  build:
    strategy:
      matrix:
        platform:
          - ubuntu-latest
          - windows-latest
        java-version:
          - 21
          - 25
        isPR:
            - ${{ github.event_name == 'pull_request' }}
        test-profile: ["", "-Pintegration-test -Pskip-default-test", "-Pperformance-test -Pskip-default-test"]
        exclude:
          # Do not run integration tests on Windows
          - test-profile: '-Pintegration-test -Pskip-default-test'
            platform: windows-latest
          # Do not run performance tests on Windows
          - test-profile: '-Pperformance-test -Pskip-default-test'
            platform: windows-latest
          # Do not run performance tests on PRs
          - test-profile: '-Pperformance-test -Pskip-default-test'
            isPR: true
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6
      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}
          cache: 'maven'
      - name: Install dependencies
        run: mvn clean install -DskipTests=true -D"maven.javadoc.skip"=true --batch-mode --show-version --file pom.xml
      - name: Test
        run: mvn test ${{ matrix.test-profile }} --batch-mode --file pom.xml
      - name: Upload coverage to Codecov
        if: ${{ matrix.test-profile == '' && matrix.java-version == '25' && matrix.platform == 'ubuntu-latest' }}
        uses: codecov/codecov-action@v5
        continue-on-error: true
        with:
          use_oidc: true
