on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  dependencycheck:
    runs-on: ubuntu-latest
    name: dependencycheck_test
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build project with Maven
        run: mvn clean install
      - name: Depcheck
        uses: dependency-check/Dependency-Check_Action@main
        id: Depcheck
        with:
          project: 'openmrs-core'
          path: '.'
          format: 'HTML'
          out: 'reports'
          args: >
            --failOnCVSS 9
            --enableRetired
      - name: Upload Test results
        uses: actions/upload-artifact@master
        with:
           name: Dependency Check report
           path: ${{github.workspace}}/reports
