name: Syncing a fork branch with the GitHub CLI

on:
  workflow_dispatch: # allows manual triggering

jobs:
  sync-with-gh-cli:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Sync master branch
        run: gh repo sync ReposForDemos/openmrs-core -b master
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
