name: Test GitHub CLI

on:
  workflow_dispatch: # allows manual triggering

jobs:
  use-gh-cli:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: List pull requests
        run: gh repo sync ReposForDemos/openmrs-core -b master
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
