name: Test GitHub CLI

on:
  workflow_dispatch: # allows manual triggering

jobs:
  use-gh-cli:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Authenticate GitHub CLI
        run: gh auth login --with-token <<< "$GITHUB_TOKEN"
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}

      - name: List pull requests
        run: gh pr list
