#parse($headerTemplate)
	<form method="post">
		<input type="hidden" name="page" value="otherruntimeproperties.vm" /> 
		<div class="content">
            <table cellpadding="9" align="center" cellspacing="5" >
		  <tr>
                    <td colspan="2"><strong>Step 3 of 5</strong></td>
                </tr>
                <tr>
                    <td colspan="2" class="question" >Do you want to be able to upload modules from the web interface? <br/> <i style="font-size:12px;">Disclaimer: This could be a security risk if a user with upload permissions is ever compromised. <br/>
                        (The alternative is to drop .omod module files into your application data directory and restart OpenMRS)</i>
		     </td>
		  </tr>
		  <tr>
                    <td>Yes: <input type="radio" name="module_web_admin" value="yes" #if( $moduleWebAdmin == true )checked="checked"#end /></td>
                    <td>No: <input type="radio" name="module_web_admin" value="no" #if( $moduleWebAdmin == false )checked="checked"#end /></td>
		  </tr>
		  <tr>
                    <td colspan="2" class="question" >Do you want updates to the database to be automatically applied on startup when a new web application is deployed? </td>
		  </tr>
		  <tr>
                    <td>Yes: <input type="radio" name="auto_update_database" value="yes" #if( $autoUpdateDatabase == true )checked="checked"#end/></td>
                    <td>No: <input type="radio" name="auto_update_database" value="no" #if( $autoUpdateDatabase == false )checked="checked"#end/></td>
		  </tr>
                <tr>
                    <td colspan= "2">
                        <input class="button" name="back" type="submit" value="Back"/> &nbsp; &nbsp;
                        <input class="button" type="submit" value="Continue"/>
                    </td>
                </tr>
		</table>
        </div>
	</form>
#parse($footerTemplate)