#parse($headerTemplate)

<p>Step 3 of 5</p>
	
	<form method="post">
		<input type="hidden" name="page" value="otherruntimeproperties.vm" /> 
		
		<span class="question">
			Do you want to be able to upload modules from the web interface?<br/>
		</span>
		<i>Disclaimer: This could be a security risk if a user with upload permissions is ever compromised.  The
		alternative is to drop .omod module files into your application data directory and restart OpenMRS)</i>
		<table>
		  <tr>
		     <td>Yes</td>
		     <td>
		     	<input type="radio" name="module_web_admin" value="yes" #if( $moduleWebAdmin == true )checked="checked"#end/>
		     </td>
		  </tr>
		  <tr>
		     <td>No</td>
		     <td><input type="radio" name="module_web_admin" value="no" #if( $moduleWebAdmin == false )checked="checked"#end/></td>
		  </tr>
		</table>
		
		<br/><br/><br/>
		
		<span class="question">
			Do you want updates to the database to be automatically applied on startup when a new 
			web application is deployed?
		</span> 
		<table>
		  <tr>
		     <td>Yes</td>
		     <td>
		     	<input type="radio" name="auto_update_database" value="yes" #if( $autoUpdateDatabase == true )checked="checked"#end/>
		     </td>
		  </tr>
		  <tr>
		     <td>No</td>
		     <td><input type="radio" name="auto_update_database" value="no" #if( $autoUpdateDatabase == false )checked="checked"#end/></td>
		  </tr>
		</table>
		
		<br>
		<input name="back" type="submit" value="Back"/>
		<input type="submit" value="Continue"/>	
	</form>

#parse($footerTemplate)