#parse($headerTemplate)
	<script>
		function showProgress() {
			jQuery.post("${setupPageUrl}", {page: "progress.vm.ajaxRequest"} , function(data) {
				
				if(data.initializationComplete) {
					location="index.htm";
					return;
				}
				
				if(data.hasErrors) {
					location= "${setupPageUrl}";
					return;
				}
								
				jQuery("#lastActionMessage").html(data.message);
				jQuery("#actionCounter").html(data.actionCounter);
				
				var logLines = "";
				for(var i = 0; i < data.logLines.length; i++) {
					logLines += data.logLines[i] + "<br />";
				}
				
				jQuery("#logLines").html(logLines);
				
			}, "json");
			
			setTimeout("showProgress()", 1000);
		}
		
		jQuery(function() { showProgress(); });
	</script>

    <div class="content">
     	<div id="lastActionMessage">0%</div>
       	<br />
       	Number of actions completed so far: <span id="actionCounter">0</span>
       	<br /><br />
		Server log file output:
	    <div id="logLines"></div>
	    
    </div>
#parse($footerTemplate)