body {
	font-family: arial;
	font-size: 11px;
}

#openmrs_msg { 
	border: 1px dashed lightgrey;
	padding: 2px 2px 2px 18px;
	margin: 2px;
	background: url(/openmrs/images/info.gif) no-repeat center left;
	background-color: InfoBackground;
}

#openmrs_error {
	border: 1px dashed maroon;
	padding: 2px 2px 2px 18px;
	margin: 2px;
	background: url(/openmrs/images/error.gif) center left no-repeat;
	background-color: InfoBackground;
}

#userBar {
	float: right;
	font-size: 10px;
}

#patientTableBody {
	height: 150px;
	overflow: auto;		/*scrolls the table in non-IE* browsers*/
	}
	#patientTableBody tr {
		height: 1em;	/*fixes scrolling bug in IE6.  */
	}

#patientSummary, #patientSummary * {
	font-size: 11px;
}

#gutter {
	margin: 25px;
	border-right: 1px dashed black;
	padding: 10px;
	line-height: 22px;
	text-align: right;
	font-size: 12px;
}

.boxHeader {
	background-color: navy;
	color: white;
	display: block;
}
.box, .boxHeader {
	border: 1px solid navy;
	width: 700px;
	padding: 2px;
	}
	.box * {
		font-size: 12px;
	}

.retired, .voided {
	text-decoration: line-through;
}