body {
	font-family: arial;
	font-size: 11px;
	padding: 0px;
}

#openmrs_msg { 
	border: 1px dashed lightgrey;
	padding: 2px 2px 2px 18px;
	margin: 2px;
	background: url(/openmrs/images/info.gif) no-repeat center left;
	background-color: InfoBackground;
}

#openmrs_error {
	border: 1px dashed maroon;
	padding: 2px 2px 2px 18px;
	margin: 2px;
	background: url(/openmrs/images/error.gif) center left no-repeat;
	background-color: InfoBackground;
}

#userBar {
	font-size: 10px;
	text-align: right;
	background-color: whitesmoke;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: lightgrey;
	margin: 0px;
	padding: 1px 3px 1px 1px;
}

#banner {
	text-align: left;
	padding: 2px;
	margin: 0px;
}

#gutter {
	float: left;
	margin-left: 10px;
	padding: 10px;
	line-height: 22px;
	text-align: right;
	font-size: 12px;
	width: 140px;
}

#content {
	margin-left: 175px;
	border-left: 1px dashed lightgrey;
	padding: 2px 5px 20px 20px;
}

#footer {
	clear:left;
	padding: 1px;
	color: gray;
	font-size: 10px;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	text-align: left;
	background-color:whitesmoke;
}

#menu {
	padding-left: 2px;
	font-size: 11px;
}

#menu li {
	display: inline;
	border-left: 1px solid black;
	padding-left: 5px;
	padding-right: 2px;
}

#menu li.first {
	border-left-width: 0px;
}

#menu .active {
	font-weight: bold;
}

#patientTable {
	width: 100%;
}

#patientTable thead th {
	text-align: left;
}

#patientSummary, #patientSummary * { font-size: 11px; }
#patientSummary .boxHeader { font-size: 12px; }
#patientSummary { width: 700px; }

.box, .boxHeader {
	border: 1px solid navy;
	width: 700px;
	padding: 5px 2px 5px 2px;
	text-align: left;
	}
	.box * {
		font-size: 12px;
	}
.boxHeader {
	background-color: navy;
	color: white;
	display: block;
	padding: 2px;
}

.retired, .voided {
	text-decoration: line-through;
}

span.error, div.error {
	border: 1px dashed darkred;
	background-color: lightpink;
	padding: 1px 6px 1px 6px;
	margin-left: 4px;
	margin-right: 4px;
	}
	input.error, textarea.error {
		color: darkred;
	}
	span.error {
		vertical-align: middle;
	}
	
.smallButton {
	font-size: 9px;
}

a, a:link, a:hover, a:visited {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}