html {
	height: 100%;
}

body {
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
	padding: 0px;
	height: 100%;
}

#pageBody {
	position: relative;
	min-height: 100%;
}

* html #pageBody {
	/* TODO 
		Uncomment below line for IE footer stick solution
		Causes other odd css rules to disappear */
	 /* height: 100%; */
}

#openmrs_msg { 
	border: 1px dashed lightgrey;
	padding: 2px 2px 2px 18px;
	margin: 2px;
	background: url(/@WEBAPP.NAME@/images/info.gif) no-repeat center left;
	background-color: InfoBackground;
}

#openmrs_error {
	border: 1px dashed maroon;
	padding: 2px 2px 2px 18px;
	margin: 2px;
	background: url(/@WEBAPP.NAME@/images/error.gif) no-repeat center left;
	background-color: InfoBackground;
}

#userBar {
	font-size: .7em;
	text-align: right;
	background-color: whitesmoke;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: lightgrey;	margin: 0px;
	padding: 1px 3px 1px 1px;
	margin: 0px;
	}

#banner {
	text-align: left;
	padding: 2px;
	margin: 0;
	float: left;
	border: 1px none white;
}

#gutter {
	float: left;
	margin-left: -140px;
	padding: 10px;
	line-height: 22px;
	text-align: right;
	width: 140px;
	margin-top: 90px;
	}
	
#content {
	margin-left: 175px;
	border-left: 1px dashed lightgrey;
	padding: 10px 5px 20px 20px;
}

#footer {
	clear: both;
	padding: 1px 2px 1px 2px;
	color: gray;
	font-size: .7em;
	height: 14px;
	border-top: 1px solid lightgrey;
	text-align: left;
	background-color: whitesmoke;
	/* see http://www.themaninblue.com/experiment/footerStickAlt/ for footer stick explanation */
	position: relative;
	margin-top: -17px;
	/*	IE footer stick 'fix'
		width: 99.5%; */
}

#menu {
	padding-left: 2px;
}

#menu li {
	display: inline;
	border-left: 1px solid black;
	padding-left: 5px;
	padding-right: 2px;
	white-space: nowrap;
}

#menu li.first {
	border-left-width: 0px;
}

#menu .active a{
	font-weight: bold;
	text-decoration: none;
}

#patientTable {
	width: 100%;
}

#patientTable thead th {
	text-align: left;
}

#patientSummary { font-size: .8em; }
#patientSummary { width: 700px; }

.box, .boxHeader {
	border: 1px solid navy;
	width: 700px;
	padding: 5px 2px 5px 2px;
	text-align: left;
	}
	.box>* {
		font-size: .8em;
	}
.boxHeader {
	background-color: navy;
	color: white;
	display: block;
	padding: 2px;
}

.retired, .voided {
	text-decoration: line-through;
}

.error {
	background-color: lightpink;
}
	span.error, div.error {
		border: 1px dashed darkred;
		padding: 1px 6px 1px 6px;
		margin-left: 4px;
		margin-right: 4px;
		vertical-align: middle;
	}
	input.error, textarea.error {
		background-color: white;
		color: darkred;
	}
	
.smallButton {
	font-size: .7em;
	border: 1px solid lightgrey;
	background-color: whitesmoke;
	cursor: pointer;
	width: 75px;
	margin: 1px;
}
.closeButton {
	border: 1px solid gray;
	background-color: lightpink;
	font-size: .6em;
	color: black;
	float: right;
	margin: 2px;
	padding: 1px;
	cursor: pointer;
}
a, a:link, a:hover, a:visited, a:active {
	text-decoration: underline;
}
a, a:link {
	color: #3366CC;
}
a:hover {
	text-decoration: none;
}
a:visited {
	color: #3366CC;
}

.retiredMessage {
	border: 1px solid firebrick;
	background-color: white;
	font-weight: bold;
	padding: 1px;
	margin: 2px;
	color: white;
	}
	.retiredMessage div {
		background-color: firebrick;
		padding: 2px;
	}
.searchIndex, .searchIndexHighlight {
	text-align: right;
	vertical-align: top;
}
.searchIndexHighlight, .searchHighlight {
	background-color: 	#F0E68C;
}
tr.searchHighlight {
	cursor: pointer;
	background-color: #F0E68C;
}

input[type="text"], input[type="password"] {
	padding: 1px;
	border: 1px solid cadetblue;
}
a.conceptHit {
	text-decoration: none;
	display: block;
}
a:hover.searchHit {
	background-color: khaki;
}
a:hover span.mainHit {
	text-decoration: none;
}
a span.mainHit {
	text-decoration: underline;
}
a span.additionalHit {
	color: gray;
	text-decoration: none;
}
.description {
	font-size: .7em;
	padding-left: 10px;
	color: gray;
}
#searchInfoBar, #searchInfoBar a {
	background-color: whitesmoke;
}
#searchInfoBar {
	font-size: .7em;
	line-height: .9em;
	color: gray;
	padding: 2px 0 2px 0;
	margin: 1px 0 1px 0;
}
#disabledZone {
	margin-top: 17px;
}
fieldset {
	margin: 0px;
	padding: 3px;
	border: 1px solid cadetblue;
}
#optionsTOC {
	float: left;
	margin-left: 0px;
	padding-left: 0px;
	padding-top: 8px;
	width: 140px;
	}
	#optionsTOC li {
		list-style-type: none;
		margin: 0;
		padding: 0;
		border: 1px solid white;
	}
	#optionsTOC li.selected {
		border-color: cadetblue whitesmoke cadetblue cadetblue;
		border-width: 1px;
		border-style: solid dashed solid solid;
		margin-right: -1px;
	}
	#optionsTOC li a {
		display: block;
		padding: 3px;
	}

.sideNote {
	border: 1px solid burlywood;
	background-color: lightyellow;
	padding: 2px;
	margin: 1px;
}

.oddRow {
	background-color: white;
}

.evenRow {
	background-color: #FBFBFB;
}
	